/* Mobile first */

.header {
    font-family: inconsolata;
    font-size: 1rem;
    margin: 1rem;
}

img {
    display: flex;
    margin: auto;
    width: 200px;
}

.content h2 {
    font-family: Space Mono;
    font-weight: 700;
}